*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background: #269DBE;
    /* background: rgb(85, 175, 243); */
    color: #FFFFFF;
}
.content{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    /* background: blue; */
    display: flex;
}
.description{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    width: 50%;
    height: 100%;
    /* background: blueviolet; */
}
.logo{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.group-description{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* background: chartreuse; */
    /* height: 50%; */
    /* background: chocolate; */
}
.group-description h1{
    /* width: 100%; */
    font-size: 40px;
    margin-bottom: 15px;
}
.button{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    
    /* width: 80%; */
    /* height: 100%; */
    /* height: ; */
    /* background: brown; */

}
.button a{
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 65%;
    height: 20%;
    border-radius: 4px;
    border: none;
    
    color: rgba(0, 0, 0, 0.623);
    background: #FFFFFF;
    /* background: #023652; */
    /* background: #b4e0ff; */
    /* background: #ff4652; */
    cursor: pointer;
    /* color: rgb(255, 255, 255); */
}
.imagem{
    display: flex;
    flex: 1;
    /* align-items: center; */
    /* justify-content: center; */
    /* background: coral; */
    background-image: url("./lider.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: bottom;
}

